<div>
    <h1>Rooms</h1>

    <form name="roomsForm">
        <p>
            <b>2.</b>
            select <select name="roomName" ng-required="true"
                           ng-model="currentRoom"
                           ng-options="r as r.name for r in rooms"
                           ng-disabled="rooms.length == 0">
                    </select>
            <button type="button" ng-click="selectRoom(currentRoom.name)"
                    ng-disabled="roomsForm.roomName.$invalid">Join
            </button>
            <button ng-hide="true" type="button" ng-click="deleteRoom(currentRoom._id)"
                    ng-disabled="roomsForm.roomName.$invalid">Delete
            </button>
        </p>
        <p>
            or <br>
        </p>

        <p ng-init="newRoom={}">
            create room <input type="text" name="name" maxlength="100"
                               ng-model="newRoom.name"
                               ng-required="true" ng-maxlength="100" />
            <button type="submit" class="btn"
                    ng-disabled="roomsForm.name.$invalid"
                    ng-click="createRoom(newRoom.name)">Create
            </button>
        </p>
    </form>
</div>
