<h1>Login</h1>
<form name="loginForm">
    <input type="text" ng-model="user.name" maxlength="100"
           ng-required="true" ng-maxlength="100" />

    <button type="submit" ng-disabled="loginForm.$invalid"
            ng-click="login(user)">Login</button>
</form>
