<div>room: <b>{{room.name}}</b></div>
<div>my status: <b>'{{connected ? 'online' : 'offline'}}'</b></div>
<div>
    <h3>Messages({{room.messages.length}})</h3>
    <p ng-repeat="msg in room.messages | orderBy: 'date'">
        <span>Posted on: {{msg.date}}</span><br/>
        <span>Sender: {{msg.user.login}}</span><br/>
        <span>Text: {{msg.body}}</span>
    </p>
    <hr>
    <h3>Members({{room.users.length}})</h3>
    <p ng-repeat="usr in room.users">
        <span>{{usr.login}}</span>
        <span>{{(usr._id == user._id ? connected : usr.online) ? 'online' : 'offline'}}</span>
    </p>
    <hr>
    <form name="newMsgForm">
        <textarea name="body" ng-required="true"
                  maxlength="1000" ng-maxlength="1000"
                ng-model="curMsg.body"></textarea>
        <br/>
        <button type="submit" ng-click="sendMessage(curMsg.body)"
                ng-disabled="newMsgForm.$invalid">Send</button>
    </form>
</div>
