<!DOCTYPE html>
<html ng-app="chatClient" ng-strict-di="">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="/javascripts/vendor/socket.io.js"></script>

    <script src="/javascripts/vendor/angular/angular.js"></script>
    <script src="/javascripts/vendor/angular/angular-route.js"></script>
    <script src="/javascripts/vendor/angular/angular-cookies.js"></script>
    <script src="/javascripts/vendor/angular-socket-io/socket.js"></script>
    <script src="/javascripts/app/app.js"></script>
    <script src="/javascripts/app/services/RoomFactory.js"></script>
    <script src="/javascripts/app/services/ChatService.js"></script>
    <script src="/javascripts/app/controllers/PageController.js"></script>
    <script src="/javascripts/app/controllers/HomeController.js"></script>
    <script src="/javascripts/app/controllers/RoomController.js"></script>
</head>
<body ng-controller="PageController">
<a href="" style="position: fixed;top:0;left: 0"
   ng-show="user"
   ng-click="logout()">
    logout {{user.login}}
</a>
<ng-view></ng-view>
</body>
</html>
